@import "../../stylesheets/global";

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.media {
  max-width: $max-width;
  margin: 70px auto;
  padding: 0 90px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;

    font-size: 96px;
    font-weight: 300;
    letter-spacing: -11px;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    list-style-type: none;
    padding: 0;
  }

  &__item {
    margin-bottom: 50px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 403px;
      width: 403px;
      z-index: -1;

      background-color: #007AFF;
      border-radius: 5px;
      transition: 0.2s ease-in-out;
    }

    &:hover::before, &:active::before {
      height: 100%;
    }

    &:hover .media__description, &:active .media__description {
      color: white;
    }
  }

  &__description {
    margin: 8px 0 10px 10px;

    font-size: 16px;
    letter-spacing: -8%;
    font-weight: 500;
    color: black;
    transition: 0.2s ease-in-out;
  }

  &__link {
    text-decoration: none;
  }

  &__image {
    width: 403px;
    height: 403px;

    object-fit: cover;
    border-radius: 5px;
  }
}

.fancybox-youtube-container {
  position: relative;

  .fancybox-youtube {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
  }
}
