@import '../../stylesheets/global';

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.media {
  max-width: $max-width;
  margin: 70px auto;
  padding: 0 90px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0;
    font-size: 96px;
    font-weight: 300;
    letter-spacing: -11px;
  }

  &__list {
    width: 100%;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }

  &__item {
    margin-bottom: 50px;
    position: relative;


    &::before {
      content: '';
      position: absolute;
      height: 303px;
      width: 403px;
      z-index: -1;
      background-color: #007aff;
      border-radius: 5px;
      transition: 0.2s ease-in-out;
    }

    &:hover::before,
    &:active::before {
      height: 100%;
    }

    &:hover .media__description,
    &:active .media__description {
      color: white;
    }
  }

  &__description {
    margin: 8px 0 10px 10px;
    font-size: 16px;
    letter-spacing: -8%;
    font-weight: 500;
    color: black;
    transition: 0.2s ease-in-out;
    max-width: 400px;
  }

  &__item2 {
    margin-bottom: 150px;
    position: relative;


    &::before {
      content: '';
      position: absolute;
      height: 303px;
      width: 403px;
      z-index: -1;
      background-color: #007aff;
      border-radius: 5px;
      transition: 0.2s ease-in-out;
    }

    &:hover::before,
    &:active::before {
      height: 100%;
    }

  }

  &__link {
    text-decoration: none;
  }

  &__image {
    width: 403px;
    height: 303px;
    object-fit: cover;
    border-radius: 5px;
  }
}
.fancybox-youtube-container {
  position: relative;

  .fancybox-youtube {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}


@media (max-width: 778px) {
  .media {
    max-width: $max-width;
    margin: 30px auto;
    box-sizing: content-box;
    padding: 0;
    display: flex;
    flex-direction: column;

    &__list {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0 10px;
    }

    &__item {
      margin-bottom: 50px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        height: 340px;
        width: 340px;
        z-index: -1;
        background-color: #007aff;
        border-radius: 5px;
        transition: 0.2s ease-in-out;
      }

      &:hover::before,
      &:active::before {
        height: 100%;
      }

      &:hover .media__description,
      &:active .media__description {
        color: white;
      }
    }

    &__description {
      margin: 8px 0 10px 10px;
      word-wrap: break-word;
      font-size: 16px;
      letter-spacing: -8%;
      font-weight: 500;
      color: black;
      transition: 0.2s ease-in-out;
      max-width: 340px;
    }

    &__item2 {
      margin-bottom: 150px;
      position: relative;


      &::before {
        content: '';
        position: absolute;
        height: 340px;
        width: 340px;
        z-index: -1;
        background-color: #007aff;
        border-radius: 5px;
        transition: 0.2s ease-in-out;
      }

      &:hover::before,
      &:active::before {
        height: 100%;
      }
    }

    &__link {
      text-decoration: none;
    }

    &__image {
      width: 340px;
      height: 340px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}
