<main>
  <app-header></app-header>
  <xng-breadcrumb [separator]="iconTemplate">
    <ng-container *xngBreadcrumbItem="let breadcrumb">
      <ng-container>{{ breadcrumb | translate }}</ng-container>
    </ng-container>
  </xng-breadcrumb>
  <ng-template #iconTemplate> > </ng-template>
  <section class="media">
    <h2 class="media__title">{{ 'MEDIA.TITLE' | translate }}</h2>
    <ul class="media__list">
      <li class="media__item" *ngFor="let album of albumList">
        <a
          href="#"
          routerLink="/media/{{ album.folderPath }}"
          class="media__link"
        >
          <img
            class="media__image"
            [src]="'../../assets/media/albums/' + album.folderPath + '/1.jpg'"
            [alt]="album.name ? album.name : 'Фотография'"
          />
          <p class="media__description">
            {{ album.name ? album.name : 'Фотография' }}<br />
            {{ album.date ? album.date : '' }}
          </p>
        </a>
      </li>
    </ul>
  </section>
  <app-share-block></app-share-block>
  <app-footer></app-footer>
</main>
