@import '../../stylesheets/global';

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.results {
  width: 100%;
  max-width: $max-width;
  margin: 30px auto 70px;
  padding: 0 90px;
  box-sizing: border-box;

  &__title {
    margin: 0;

    font-size: 96px;
    font-weight: 300;
    letter-spacing: -11px;
  }

  &__name {
    margin: 0;

    font-size: 48px;
    font-weight: 300;
    letter-spacing: -5px;
  }

  &__link {
    margin-top: 30px;
    display: block;
    position: relative;
    font-size: 40px;
    padding: 5px;

    text-decoration: none;
    color: white;
    background-color: #007aff;
    background-image: url('/assets/shared/blue-background.png');
  }

  &__image {
    position: relative;
    top: 6px;
    width: 40px;
    height: 44px;

    object-fit: contain;
  }
}

@media (max-width: 778px) {
  .results {
    max-width: $max-width;
    margin: 30px auto;
    padding: 0 10px;

    &__name {
      margin: 0;

      font-size: 55px;
      font-weight: 300;
      letter-spacing: -5px;
    }
  }

  xng-breadcrumb {
    padding: 10px 0 0 15px;
  }
}
