<main>
  <app-header></app-header>
  <xng-breadcrumb [separator]="iconTemplate">
    <ng-container *xngBreadcrumbItem="let breadcrumb">
      <ng-container>{{ breadcrumb | translate }}</ng-container>
    </ng-container>
  </xng-breadcrumb>
  <ng-template #iconTemplate> > </ng-template>
  <section class="about">
    <h2 class="about__name">{{ 'ABOUT.TITLE' | translate }}</h2>
    <p class="about__paragraph about__paragraph--first">
      {{ 'ABOUT.PARAGR_1' | translate }}
    </p>
    <p class="about__paragraph about__paragraph--second">
      {{ 'ABOUT.PARAGR_2' | translate }}
    </p>
    <div class="about__goal goal">
      <h3 class="goal__name">{{ 'ABOUT.GOAL' | translate }}</h3>
      <div class="goal__card">
        <img
          width="107"
          height="107"
          src="/assets/about/laptop.png"
          alt="Изображение цели"
          class="goal__image"
        />
        <p class="goal__paragraph">{{ 'ABOUT.GOAL_PARAGR' | translate }}</p>
      </div>
    </div>
    <div class="about__tasks tasks">
      <h3 class="tasks__name">{{ 'ABOUT.TASK_NAME' | translate }}</h3>
      <ul class="tasks__list">
        <li class="tasks__item">
          <div class="tasks__wrapper">
            <img
              src="/assets/about/books.png"
              alt="Изображение задачи"
              class="tasks__image"
            />
          </div>
          <p class="tasks__paragraph">{{ 'ABOUT.TASK_PARAGR1' | translate }}</p>
        </li>
        <li class="tasks__item">
          <div class="tasks__wrapper">
            <img
              src="/assets/about/brain.png"
              alt="Изображение задачи"
              class="tasks__image"
            />
          </div>
          <p class="tasks__paragraph">{{ 'ABOUT.TASK_PARAGR2' | translate }}</p>
        </li>
        <li class="tasks__item">
          <div class="tasks__wrapper">
            <img
              src="/assets/about/folder.png"
              alt="Изображение задачи"
              class="tasks__image"
            />
          </div>
          <p class="tasks__paragraph">{{ 'ABOUT.TASK_PARAGR3' | translate }}</p>
        </li>
        <li class="tasks__item">
          <div class="tasks__wrapper">
            <img
              src="/assets/about/robot.png"
              alt="Изображение задачи"
              class="tasks__image"
            />
          </div>
          <p class="tasks__paragraph">{{ 'ABOUT.TASK_PARAGR4' | translate }}</p>
        </li>
      </ul>
    </div>
    <a
      href="../../assets/about/Положение%20РобИн%202024%20+%20согласие.PDF"
      target="_blank"
      class="about__link"
    >
      <img src="../../assets/about/pdf-icon.png" alt="" class="about__image" />
      {{ 'ABOUT.POSITION' | translate }}
    </a>
    <a href="../../assets/about/Состав.pdf" target="_blank" class="about__link">
      <img src="../../assets/about/pdf-icon.png" alt="" class="about__image" />
      {{ 'ABOUT.COMPOSITION' | translate }}
    </a>
    <a
      href="../../assets/about/Списочный состав участников заключительного этапа.pdf"
      target="_blank"
      class="about__link"
    >
      <img src="../../assets/about/pdf-icon.png" alt="" class="about__image" />
      {{ 'ABOUT.PARTICIPANTS' | translate }}
    </a>
    <a
      href="../../assets/about/Информация о проведении соревнований.pdf"
      target="_blank"
      class="about__link"
    >
      <img src="../../assets/about/pdf-icon.png" alt="" class="about__image" />
      {{ 'ABOUT.REGULATIONS' | translate }}
    </a>
  </section>
  <app-share-block></app-share-block>
  <app-footer></app-footer>
</main>
