<main>
  <app-header></app-header>

  <section class="about">
    <h2 class="about__name">О чемпионате</h2>
    <p class="about__paragraph about__paragraph--first">В эпоху современных технологий огромное внимание уделяется развитию искусственного интеллекта, робототехническим системам, виртуальной и дополненной реальностям.</p>
    <p class="about__paragraph about__paragraph--second">Ни для кого не секрет, что данные IT-сферы повсеместно внедряются в образование. Для того, чтобы подрастающее поколение Беларуси могло продемонстрировать свои достижения в этих областях, в НДЦ «Зубренок» проводится IT-чемпионат «РобИн».</p>
    <div class="about__goal goal">
      <h3 class="goal__name">Цель проведения</h3>
      <div class="goal__card">
        <img width="107" height="107" src="/assets/about/laptop.png" alt="Изображение цели" class="goal__image">
        <p class="goal__paragraph">Создание условий для популяризации сферы инноваций и высоких технологий среди подрастающего поколения, поддержка и вовлечение талантливых детей в научно-техническое творчество.</p>
      </div>
    </div>
    <div class="about__tasks tasks">
      <h3 class="tasks__name">Задачи</h3>
      <ul class="tasks__list">
        <li class="tasks__item">
          <div class="tasks__wrapper">
            <img src="/assets/about/books.png" alt="Изображение задачи" class="tasks__image">
          </div>
          <p class="tasks__paragraph">Поиск и разработка инновационных технологий и методов работы с детьми.</p>
        </li>
        <li class="tasks__item">
          <div class="tasks__wrapper">
            <img src="/assets/about/brain.png" alt="Изображение задачи" class="tasks__image">
          </div>
          <p class="tasks__paragraph">Способствовать разработке и реализации детских инновационных проектов с помощью высокотехнологичного оборудования
            и программного обеспечения, создающих условия для формирования современных и будущих профессиональных компетенций, навыков инженерного мышления.
          </p>
        </li>
        <li class="tasks__item">
          <div class="tasks__wrapper">
            <img src="/assets/about/folder.png" alt="Изображение задачи" class="tasks__image">
          </div>
          <p class="tasks__paragraph">Создавать интеллектуальную образовательную среду, мотивирующую каждого учащегося повсеместно использовать свои знания и умения с целью изменения окружающей обстановки по принципам высокотехнологичного производства.</p>
        </li>
        <li class="tasks__item">
          <div class="tasks__wrapper">
            <img src="/assets/about/robot.png" alt="Изображение задачи" class="tasks__image">
          </div>
          <p class="tasks__paragraph">Создавать условия для организации опытно-экспериментальных работ по освоению новых технологий, новых видов профессиональной деятельности, форм профессионального обучения.</p>
        </li>
      </ul>
    </div>
    <a href="../../assets/about/Положение%20РобИн%202024%20+%20согласие.PDF" target="_blank" class="about__link">
      <img src="../../assets/about/pdf-icon.png" alt="" class="about__image">
      Положение РобИн 2024
    </a>
    <a href="../../assets/about/Состав.pdf" target="_blank" class="about__link">
      <img src="../../assets/about/pdf-icon.png" alt="" class="about__image">
      Состав республиканского организационного комитета
    </a>
  </section>

  <app-footer></app-footer>
</main>
