<main>
  <app-header></app-header>

  <section class="about">
    <h2 class="about__name">О чемпионате</h2>
    <ul class="about__list">
      <li class="about__item">
        <h3 class="about__heading">Цель проведения</h3>
        <p class="about__paragraph">Создание условий для популяризации сферы инноваций и высоких технологий среди подрастающего поколения, поддержка и вовлечение талантливых детей в научно-техническое творчество</p>
      </li>
      <li class="about__item">
        <h3 class="about__heading">Задачи</h3>
        <ol class="about__numerated">
          <li>Поиск и разработка инновационных технологий и методов работы с детьми.</li>
          <li>Создавать интеллектуальную образовательную среду, мотивирующую каждого учащегося повсеместно использовать свои знания и умения с целью изменения окружающей обстановки по принципам высокотехнологичного производства. </li>
          <li>Способствовать разработке и реализации детских инновационных проектов с помощью высокотехнологичного оборудования и программного обеспечения, создающих условия для формирования современных и будущих профессиональных компетенций, навыков инженерного мышления.</li>
          <li>Создавать условия для организации опытно-экспериментальных работ по освоению новых технологий, новых видов профессиональной деятельности, форм профессионального обучения.</li>
        </ol>
      </li>
    </ul>
  </section>

  <app-footer></app-footer>
</main>
