<main>
  <app-header></app-header>

  <section class="contacts">
    <h2 class="contacts__title">{{ 'CONTACTS.TITLE' | translate }}</h2>

    <app-yandex-map></app-yandex-map>

    <div class="contacts__boxs">
      <div class="contacts__box">
        <span class="contacts__box__title">{{ 'CONTACTS.BOX1_TITLE' | translate }} <i class="fa fa-map-marker" aria-hidden="true"></i></span>
        <p class="contacts__box__text">{{ 'CONTACTS.BOX1_TEXT1' | translate }}</p>
        <p class="contacts__box__text">{{ 'CONTACTS.BOX1_TEXT2' | translate }}</p>
      </div>

      <div class="contacts__box">
        <span class="contacts__box__title">{{ 'CONTACTS.BOX2_TITLE' | translate }} <i class="fa fa-phone" aria-hidden="true"></i></span>
        <p class="contacts__box__text">{{ 'CONTACTS.BOX2_TEXT' | translate }}</p>
      </div>

      <div class="contacts__box">
        <span class="contacts__box__title">{{ 'CONTACTS.BOX3_TITLE' | translate }} <i class="fa fa-print" aria-hidden="true"></i></span>
        <p class="contacts__box__text">{{ 'CONTACTS.BOX3_TEXT' | translate }}</p>
      </div>

      <div class="contacts__box">
        <span class="contacts__box__title">{{ 'CONTACTS.BOX4_TITLE' | translate }} <i class="fa fa-envelope-o" aria-hidden="true"></i></span>
        <p class="contacts__box__text">{{ 'CONTACTS.BOX4_TEXT' | translate }}</p>
      </div>
    </div>

    <app-feedback></app-feedback>

    <!--<div class="contacts__feedback">
    <div class="feedback__left">
      <p class="feedback_text">{{ 'CONTACTS.FEEDBACK_TEXT' | translate }}</p>
      <img src="../../../assets/header/robin-logo.svg"
           alt="Лого чемпионата Робин"
           class="feedback_image" />
    </div>
    <div class="feedback_right">
      <app-feedback></app-feedback>-->
    <!--<form [formGroup]="feedbackForm" (ngSubmit)="submitForm()">
    <h3>{{ 'CONTACTS.FEEDBACK_TITLE' | translate }}</h3>
    <div>
      <label class="feedback_lable" for="firstName">{{ 'CONTACTS.FEEDBACK_FIRSTNAME' | translate }}:</label>
      <input type="text" id="firstName" name="firstName" formControlName="firstName">
      <div *ngIf="feedbackForm.get('firstName').invalid && (feedbackForm.get('firstName').dirty || feedbackForm.get('firstName').touched)">
        <span *ngIf="feedbackForm.get('firstName').errors.required">{{ 'CONTACTS.FEEDBACK_FISTNAME_IS_REQUIRED' | translate }}</span>
        <span *ngIf="feedbackForm.get('firstName').errors.maxlength">{{ 'CONTACTS.FEEDBACK_FISTNAME_ERROR_MESSAGE' | translate }}</span>
      </div>
    </div>
    <div>
      <label class="feedback_lable" for="lastName">{{ 'CONTACTS.FEEDBACK_LASTNAME' | translate }}:</label>
      <input type="text" id="lastName" name="lastName" formControlName="lastName">
      <div *ngIf="feedbackForm.get('lastName').invalid && (feedbackForm.get('lastName').dirty || feedbackForm.get('lastName').touched)">
        <span *ngIf="feedbackForm.get('lastName').errors.required">{{ 'CONTACTS.FEEDBACK_LASTNAME_IS_REQUIRED' | translate }}</span>
        <span *ngIf="feedbackForm.get('lastName').errors.maxlength">{{ 'CONTACTS.FEEDBACK_LASTNAME_ERROR_MESSAGE' | translate }}</span>
      </div>
    </div>
    <div>
      <label class="feedback_lable" for="email">{{ 'CONTACTS.FEEDBACK_EMAIL' | translate }}:</label>
      <input type="email" id="email" name="email" formControlName="email">
      <div *ngIf="feedbackForm.get('email').invalid && (feedbackForm.get('email').dirty || feedbackForm.get('email').touched)">
        <span *ngIf="feedbackForm.get('email').errors.required">{{ 'CONTACTS.FEEDBACK_EMAIL_IS_REQUIRED' | translate }}</span>
        <span *ngIf="feedbackForm.get('email').errors.email">{{ 'CONTACTS.FEEDBACK_INVALID_EMAIL_FORMAT' | translate }}</span>
      </div>
    </div>
    <div>
      <label class="feedback_lable" for="message">{{ 'CONTACTS.FEEDBACK_MESSAGE' | translate }}:</label>
      <textarea id="message" name="message" formControlName="message"></textarea>
      <div *ngIf="feedbackForm.get('message').invalid && (feedbackForm.get('message').dirty || feedbackForm.get('message').touched)">
        <span *ngIf="feedbackForm.get('message').errors.required">{{ 'CONTACTS.FEEDBACK_MESSAGE_IS_REQUIRED' | translate }}</span>
        <span *ngIf="feedbackForm.get('message').errors.minlength || feedbackForm.get('message').errors.maxlength">{{ 'CONTACTS.FEEDBACK_MESSAGE_ERROR' | translate }}</span>
      </div>
    </div>
    <button type="submit" [disabled]="feedbackForm.invalid">{{ 'CONTACTS.FEEDBACK_BUTTON' | translate }}</button>
  </form>-->
    <!--</div>
  </div>-->

  </section>
  <app-share-block></app-share-block>
  <app-footer></app-footer>
</main>
