<main>
  <app-header></app-header>
  <xng-breadcrumb [separator]="iconTemplate">
    <ng-container *xngBreadcrumbItem="let breadcrumb">
      <ng-container>{{ breadcrumb | translate }}</ng-container>
    </ng-container>
  </xng-breadcrumb>
  <ng-template #iconTemplate> > </ng-template>
  <section class="contacts">
    <h2 class="contacts__title">{{ 'CONTACTS.TITLE' | translate }}</h2>

    <app-yandex-map></app-yandex-map>

    <div class="contacts__boxs">
      <div class="contacts__box">
        <span class="contacts__box__title"
          >{{ 'CONTACTS.BOX1_TITLE' | translate }}
          <i class="fa fa-map-marker" aria-hidden="true"></i
        ></span>
        <p class="contacts__box__text">
          {{ 'CONTACTS.BOX1_TEXT1' | translate }}
        </p>
        <p class="contacts__box__text">
          {{ 'CONTACTS.BOX1_TEXT2' | translate }}
        </p>
      </div>

      <div class="contacts__box">
        <span class="contacts__box__title"
          >{{ 'CONTACTS.BOX2_TITLE' | translate }}
          <i class="fa fa-phone" aria-hidden="true"></i
        ></span>
        <p class="contacts__box__text">
          {{ 'CONTACTS.BOX2_TEXT' | translate }}
        </p>
      </div>

      <div class="contacts__box">
        <span class="contacts__box__title"
          >{{ 'CONTACTS.BOX3_TITLE' | translate }}
          <i class="fa fa-print" aria-hidden="true"></i
        ></span>
        <p class="contacts__box__text">
          {{ 'CONTACTS.BOX3_TEXT' | translate }}
        </p>
      </div>

      <div class="contacts__box">
        <span class="contacts__box__title"
          >{{ 'CONTACTS.BOX4_TITLE' | translate }}
          <i class="fa fa-envelope-o" aria-hidden="true"></i
        ></span>
        <p class="contacts__box__text">
          {{ 'CONTACTS.BOX4_TEXT' | translate }}
        </p>
      </div>
    </div>

    <app-feedback></app-feedback>
  </section>
  <app-share-block></app-share-block>
  <app-footer></app-footer>
</main>
