@import "../../../stylesheets/global";

.header {
  max-width: $max-width;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--basic {
    height: 100vh;
    overflow: hidden;
  }

  &__wrapper {
    width: 100%;

    background-color: #007AFF;
    background-image: url("/assets/shared/blue-background.png");
  }

  &__upper-container {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
  }

  &__particles {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  &__orgs {
    margin: 50px 0;
    display: flex;
    align-items: center;
    z-index: 1;
    min-width: 110px;
    height: 50px;
    justify-content: space-between;

    list-style-type: none;
    padding: 0;
  }

  &__heading {
    width: 394px;
    margin: 54px 8px;

    color: white;
    font-size: 16px;
    font-weight: 400;
  }

  &__container {
    &--heading {
      z-index: 1;
      flex-grow: 1;
      max-width: 1010px;
    }
  }

  &__nav {
    z-index: 1;
    flex-grow: 1;
  }

  &__slogan {
    height: 32.55vw;
    align-self: flex-start;
    margin: 0;

    color: white;

    list-style-type: none;
    padding: 0;
  }

  &__description {
    &--part-1 {
      max-width: 71vw;
      margin: 0 5.3vw;
      padding: 0;

      letter-spacing: -0.5vw;
      font-weight: 300;
      font-size: 6vw;
    }

    &--part-2 {
      margin: 0 1.4vw;
      margin-top: -70px;
      padding: 0;

      letter-spacing: -0.5vw;
      font-weight: 300;
      font-size: 5vw;
    }
  }
}

.nav {
  color: white;
  max-width: 574px;
  margin: 57px 0;

  &__user {
    a {
      display: block;

      width: 100%;
      height: 100%;
    }

    img {
      max-width: 100%;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;

    list-style-type: none;
    padding: 0;
  }

  &__item {
    position: relative;
    padding: 0 5px;

    &--competitions {
      &:hover .nav__competitions {
        display: block;
        opacity: 1;
      }
    }

    &--langs {
      &:hover .nav__langs {
        display: block;
        opacity: 1;
      }
    }

    a {
      display: flex;
      align-items: center;

      width: 100%;
      height: 100%;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
  }

  &__competitions, &__langs {
    position: absolute;
    display: none;
    width: 270px;

    list-style-type: none;
    padding: 0;

    transition: 500ms;
    opacity: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-box-shadow: 0 7px 8px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 7px 8px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0 7px 8px 1px rgba(34, 60, 80, 0.2);


    &:hover, &:focus {
      display: block;
    }
  }

  &__langs {
    width: auto;
  }

  &__competition {
    background-color: #fff;

    .nav__link {

      padding: 4px 0 4px 0px;
      color: black;
      background-color: #fff;
      display: block;

      &:hover, &:focus {
        background-color: #007AFF80;
      }
    }
  }
}
@media (max-width: 1200px) {
  .header {
    &__description {
      &--part-1 {
        max-width: 71vw;
        margin: 0 5.3vw;
        padding: 0;
        margin-bottom: 50px;

        letter-spacing: -0.5vw;
        font-weight: 300;
        font-size: 6vw;
      }

      &--part-2 {
        margin: 0 1.4vw;
        margin-top: -90px;
        padding: 0;

        letter-spacing: -0.5vw;
        font-weight: 300;
        font-size: 5vw;
      }
    }
  }
}
@media (max-width: 778px) {
  .header {
    &__upper-container {
      display: flex;
      flex-direction: column;
      margin: 0 10px;
    }

    &__particles {
      display: none;
    }

    &__description {
      &--part-1 {
        max-width: 71vw;
        margin: 0 5.3vw;
        padding: 0;
        margin-bottom: 50px;

        letter-spacing: -0.5vw;
        font-weight: 300;
        font-size: 6vw;
      }

      &--part-2 {
        margin: 0 1.4vw;
        margin-top: -70px;
        padding: 0;

        letter-spacing: -0.5vw;
        font-weight: 300;
        font-size: 5vw;
      }
    }

    &__orgs {
      margin: 10px 0;
      display: flex;
      align-items: center;
      z-index: 1;
      min-width: 110px;
      height: 50px;
      justify-content: left;

      list-style-type: none;
      padding: 0;
    }

    &__org {
      margin-right: 20px;
    }

    &__heading {
      width: 100%;
      margin: 0 8px;

      color: white;
      font-size: 16px;
      font-weight: 400;
    }

    &__container {
      &--heading {
        z-index: 1;
        flex-grow: 1;
        max-width: 1010px;
      }
    }

    &__nav {
      z-index: 1;
      flex-grow: 1;
    }
  }

  .nav {
    color: white;
    max-width: 574px;
    margin: 10px 0;

    &__user {
      a {
        display: block;

        width: 100%;
        height: 100%;
      }

      img {
        max-width: 100%;
      }
    }

    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0;

      list-style-type: none;
      padding: 0;
    }

    &__item {
      position: relative;
      padding: 0 5px;

      &--competitions {
        &:hover .nav__competitions {
          display: block;
          opacity: 1;
        }
      }

      &--langs {
        &:hover .nav__langs {
          display: block;
          opacity: 1;
        }
      }

      a {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;
      }
    }

    &__link {
      text-decoration: none;
      color: white;
    }

    &__competitions, &__langs {
      position: absolute;
      display: none;
      width: 270px;

      list-style-type: none;
      padding: 0;

      transition: 500ms;
      opacity: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      -webkit-box-shadow: 0 7px 8px 1px rgba(34, 60, 80, 0.2);
      -moz-box-shadow: 0 7px 8px 1px rgba(34, 60, 80, 0.2);
      box-shadow: 0 7px 8px 1px rgba(34, 60, 80, 0.2);


      &:hover, &:focus {
        display: none;
      }
    }

    &__langs {
      width: auto;
    }

    &__competition {
      background-color: #fff;

      .nav__link {

        padding: 4px;
        color: black;
        background-color: #fff;
        display: block;

        &:hover, &:focus {
          background-color: #007AFF80;
        }
      }
    }
  }
}
