@import "../../../stylesheets/global";

.header {
  max-width: $max-width;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  &--basic {
    height: 100vh;
  }

  &__wrapper {
    width: 100%;
    background-color: #007AFF;
    background-image: url("/assets/shared/blue-background.png");
  }

  &__upper-container {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
  }

  &__particles {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }

  &__orgs {
    margin: 50px 0;
    display: flex;
    align-items: center;
    z-index: 1;
    min-width: 110px;
    height: 50px;
    justify-content: space-between;
  }

  &__heading {
    width: 394px;
    margin: 54px 8px;

    color: white;
    font-size: 16px;
    font-weight: 400;
  }

  &__container {
    &--heading {
      z-index: 1;
      flex-grow: 1;
      max-width: 1010px;
    }
  }

  &__nav {
    z-index: 1;
    flex-grow: 1;
  }

  &__slogan {
    height: 32.55vw;
    align-self: flex-start;
    margin: 0;

    color: white;
  }

  &__description {
    &--part-1 {
      max-width: 70vw;
      margin: 0 5.3vw;
      padding: 0;

      letter-spacing: -0.5vw;
      font-weight: 300;
      font-size: 6vw;
    }

    &--part-2 {
      margin: 0 1.4vw;
      margin-top: -70px;
      padding: 0;

      letter-spacing: -0.5vw;
      font-weight: 300;
      font-size: 5vw;
    }
  }
}

.nav {
  color: white;
  max-width: 574px;
  margin: 57px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
  }

  &__item {
    padding: 0 5px;
  }

  &__link {
    text-decoration: none;
    color: white;

    &:hover, &:focus {
      opacity: 0.5;
    }
  }
}

