<div class="header__wrapper">
  <div id="particles-js" class="header__particles"></div>
  <header class="header">
    <div class="header__upper-container">
      <ul class="header__orgs">
        <li class="header__org org">
          <a href="#" routerLink="/main" class="org__link">
            <img width="47" height="47" src="assets/header/robin-logo.svg" alt="Лого чемпионата Робин" class="org__image">
          </a>
        </li>
        <li class="header__org org">
          <a href="https://zubronok.by/" class="org__link">
            <img width="47" height="50" src="assets/header/zubr-logo.svg" alt="Лого лагеря 'Зубренок'" class="org__image">
          </a>
        </li>
      </ul>
      <div class="header__container--heading">
        <h1 class="header__heading">Национальный детский образовательно-оздоровительный центр “Зубренок”</h1>
      </div>
      <nav class="header__nav nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#" routerLink="/about" class="nav__link">О чемпионате</a></li>
          <li class="nav__item"><a href="#" routerLink="/sphere-list" class="nav__link">Компетенции</a></li>
          <li class="nav__item"><a href="#" routerLink="/news" class="nav__link">Новости</a></li>
          <li class="nav__item" hidden><a href="#" class="nav__link">RU</a></li>
          <li class="nav__item" hidden>
            <a href="#" class="nav__link">
              <img  src="assets/header/eye.svg" alt="Версия для слабовидящих" class="nav__image">
            </a>
          </li>
          <li class="nav__item" hidden><a href="#" class="nav__link">Вход</a></li>
        </ul>
      </nav>
    </div>
    <ul class="header__slogan">
      <li class="header__description--part-1">
        Республиканский открытый IT-чемпионат
      </li>
      <li class="header__description--part-2">
        «<span style="letter-spacing: -3vw; font-weight: 300; font-size: 22.3vw">Р</span>
        <span style="letter-spacing: -1.7vw; font-weight: 300; font-size: 22.3vw">о</span>
        <span style="letter-spacing: -2.5vw; font-weight: 300; font-size: 22.3vw">б</span>
        <span style="letter-spacing: -3vw; font-weight: 300; font-size: 22.3vw">И</span>
        <span style="letter-spacing: -1.7vw; font-weight: 300; font-size: 22.3vw">н</span>
        -  2024»
      </li>
    </ul>
  </header>
</div>
