<div class="header__wrapper">
  <section class="header">
    <a href="" class="header__main-link">
      <h1 class="header__slogan">РОБИН</h1>
    </a>
    <ul class="header__list">
      <li class="header__item"><a href="" class="header__link">Menu 1</a></li>
      <li class="header__item"><a href="" class="header__link">Menu 2</a></li>
      <li class="header__item"><a href="" class="header__link">Menu 3</a></li>
      <li class="header__item"><a href="" class="header__link">Menu 4</a></li>
    </ul>

    <button class="header__authorization button">Войти</button>
  </section>
</div>
