<section class="media">
  <h2 class="media__slogan">{{ 'MAIN.MEDIA.TITLE' | translate }}</h2>
  <div class="media__card">
    <p class="media__description">{{ 'MAIN.MEDIA.ABOUT_CHAMP' | translate }}</p>
    <div class="media__image-wrapper">
      <img
        [src]="'assets/media/' + currentPicture.path"
        width="1176"
        height="623"
        alt="Фотография"
        class="media__image"
        #currentElement
      />
      <img
        [src]="'assets/media/' + nextPicture.path"
        width="1176"
        height="623"
        alt="Фотография"
        class="media__image hidden"
        #nextElement
      />
    </div>
    <h3 class="media__name">{{ 'MAIN.MEDIA.ABOUT_MEDIA' | translate }}</h3>
    <a
      href="#"
      routerLink="/media"
      class="media__button"
      aria-label="Подробнее"
    >
      <img
        src="assets/shared/more-ico.svg"
        width="50"
        height="50"
        alt="Подробнее"
      />
    </a>
  </div>
</section>
