<section class="media">
  <h2 class="media__slogan">Медиа</h2>
  <div class="media__card">
    <img src="assets/media/media-example.png" width="1176" height="623" alt="Фотография" class="media__image">
    <h3 class="media__name">Фотогалерея чемпионата</h3>
    <p class="media__description">Республиканский открытый IT-чемпионат «РобИн-2024»</p>
    <a href="#" routerLink="/gallery" class="media__button" aria-label="Подробнее">
      <img src="assets/shared/more-ico.svg" width="50" height="50" alt="Подробнее">
    </a>
  </div>
</section>
