@import "../../../stylesheets/global";

.media {
  max-width: $max-width;
  margin: auto;
  margin-top: 40px;
  padding: 0 92px;
  box-sizing: border-box;

  &__slogan {
    margin: 0;

    font-size: 96px;
    font-weight: 300;
    letter-spacing: -10px;
  }

  &__card {
    padding: 30px;
    display: flex;
    position: relative;
    flex-direction: row-reverse;

    -webkit-box-shadow: 0 0 8px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 0 8px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0 0 8px 4px rgba(34, 60, 80, 0.2);
    background-color: #007AFF;
    background-image: url("/assets/shared/blue-background.png");
  }

  &__image-wrapper {
    max-width: 970px;
    min-width: 400px;
    max-height: 623px;
    min-height: 200px;
    position: relative;
    flex-grow: 1;
  }

  &__image {
    max-width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 1;
    transition-duration: 300ms;

    &.hidden {
      top: 0;
      left: 0;

      position: absolute;
      opacity: 0;
    }
  }

  &__description {
    margin: 0;
    margin-left: 20px;
    flex-grow: 1;

    font-size: 24px;
    color: white;
  }

  &__name {
    position: absolute;
    bottom: 5%;
    margin: 0;
    right: 0;
    max-width: 790px;

    line-height: 110px;
    font-weight: 300;
    color: white;
    font-size: 150px;
    letter-spacing: -15px;
  }

  &__button {
    position: absolute;

    right: 30px;
    top: 50%;
  }
}

@media (max-width: 1280px) {
  .media {
    &__name {
      position: absolute;
      bottom: 0;
      margin: 0;
      right: 0;
      max-width: 620px;

      line-height: 110px;
      font-weight: 300;
      color: white;
      font-size: 100px;
      letter-spacing: -10px;
    }
  }
}

@media (max-width: 981px) {
  .media {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 0;

    &__slogan {
      margin: 0;

      font-size: 96px;
      font-weight: 300;
      letter-spacing: -10px;
    }

    &__card {
      margin-top: 40px;
      padding: 0;
      display: flex;
      position: relative;
      flex-wrap: wrap;
      justify-content: left;
    }

    &__image-wrapper {
      max-width: 970px;
      min-width: 360px;
      max-height: 300px;
      min-height: 200px;
      position: relative;
      flex-grow: 1;
    }

    &__description {
      margin: 23px 19px;
      flex-grow: 0;
      width: 203px;
      font-weight: normal;

      font-size: 14px;
      color: white;
    }

    &__name {
      position: relative;
      bottom: 5%;
      right: 0;
      width: 400px;

      line-height: 33px;
      font-weight: 300;
      color: white;
      font-size: 40px;
      letter-spacing: -3px;
    }

    &__button {
      position: absolute;

      right: 30px;
      top: 50%;
    }
  }

}
