@import '../../../stylesheets/global';

.yandex__map {
  width: 100%;
  padding-top: 50%;
  position: relative;
  margin-top: 10px;
  border: 1px solid #ccc;
  background-color: rgba(207, 205, 201, 0.527);
  margin-bottom: 20px;
}