.timer {
  color: white;
  display: block;
  margin: 60px auto 60px auto;
  max-width: 700px;
  padding: 10px;

  -webkit-box-shadow: 0 0 8px 4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 0 8px 4px rgba(34, 60, 80, 0.2);
  box-shadow: 0 0 8px 4px rgba(34, 60, 80, 0.2);
  background-color: #007AFF;
  background-image: url("/assets/shared/blue-background.png");

  &__heading {
    margin: 0;
    text-align: center;
  }

  &__days {
    margin: 0;

    text-align: center;
    font-size: 30px;
  }

  &__time {
    margin: 0;

    text-align: center;
    font-size: 60px;
  }

  &__list {
    margin: auto;
    padding: 0;
    display: flex;
    max-width: 650px;
    justify-content: space-between;
    list-style-type: none;
  }

  &__item {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 130px;
    text-align: center;
  }

  &__space {
    font-size: 60px;
  }
}

@media (max-width: 778px) {
  .timer {
    &__space {
      display: none;
    }

    &__list {
      flex-direction: column;
    }

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
