@import 'variables';
@import 'typography';
@import 'external';

html {
  overflow-x: hidden;
}

xng-breadcrumb {
  padding: 10px 0 0 90px;
}
.xng-breadcrumb-item {
  font-size: 18px;
}
.xng-breadcrumb-separator {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;

  position: static !important;

  font-family: $inter-font;

  overflow: hidden;
}

.figure {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin: 0;

  &--center {
    align-items: center;
  }

  img {
    max-width: 80%;
    max-height: 50vh;
  }
}

.skiptranslate {
  display: none;
}
