@import "../../../stylesheets/global";

.partners {
  max-width: $max-width;
  margin: auto;
  margin-top: 40px;
  padding: 0 92px;
  margin-bottom: 60px;

  &__slogan {
    margin: 0;

    font-size: 96px;
    font-weight: 300;
    letter-spacing: -10px;
  }

  &__wrapper {
    padding: 30px;
    padding-bottom: 0;
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;

    background-color: #007AFF;
    -webkit-box-shadow: 0 0 8px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 0 8px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0 0 8px 4px rgba(34, 60, 80, 0.2);
    background-image: url("/assets/shared/blue-background.png");

  }

  &__item {
    margin: 0 30px 0 30px;
    width: 300px;
    min-height: 90px;
    display: flex;
    align-self: flex-start;
    margin-bottom: 30px;
    padding: 5px;

    background-color: white;
    border-radius: 3%;
  }

  &__name {
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    color: #007AFF;
    text-decoration: none;
  }

  &__list {
    margin: 0;
    display: flex;
    justify-content: space-between;

    transition: 500ms;
  }

  &__image {
    width: 66px;
    height: 76px;
    align-self: center;
  }
}
