<section class="partners">
  <h2 class="partners__slogan">Партнеры</h2>
  <div #partnerWrapper class="partners__wrapper">
    <ul #partnerList class="partners__list">
      <li class="partners__item">
        <a href="http://bresttur.by/" class="partners__name">ГУО «Брестский областной центр туризма и краеведения детей
          и молодежи»</a>
        <img src="assets/partners/ico-1.png" alt="Лого партнера" class="partners__image">
      </li>
      <li class="partners__item">
        <a href="https://centers.by/ott" class="partners__name">ГУДО «Витебский областной дворец детей и молодежи»</a>
        <img src="assets/partners/ico-2.png" alt="Лого партнера" class="partners__image">
      </li>
      <li class="partners__item">
        <a href="https://goctt.grodno.by/" class="partners__name">ГУО «Гродненский областной центр технического творчества»</a>
        <img src="assets/partners/ico-3.png" alt="Лого партнера" class="partners__image">
      </li>
      <li class="partners__item">
        <a href="http://oct.by/" class="partners__name">ГУО «Могилевский областной центр творчества»</a>
        <img src="assets/partners/ico-4.png" alt="Лого партнера" class="partners__image">
      </li>
      <li class="partners__item">
        <a href="https://ndtp.by/" class="partners__name">Учреждение образования «Национальный детский технопарк»</a>
        <img src="assets/partners/ico-5.png" alt="Лого партнера" class="partners__image">
      </li>
      <li class="partners__item">
        <a href="https://xn--b1afyeafhbl5a6e.xn--90ais/" class="partners__name">ГУО «Минский государственный дворец детей и молодежи - отдел технического творчества и спорта»</a>
        <img src="assets/partners/ico-6.png" alt="Лого партнера" class="partners__image">
      </li>
      <li class="partners__item">
        <a href="http://octt.by/" class="partners__name">ГУО «Гомельский областной центр творчества детей и молодежи»</a>
        <img src="assets/partners/ico-7.png" alt="Лого партнера" class="partners__image">
      </li>
    </ul>
  </div>
</section>
