<section #mainWrapper class="partners">
  <h2 class="partners__slogan">{{'MAIN.PARTNERS.TITLE' | translate}}</h2>
  <div #partnerWrapper class="partners__wrapper">
    <ul #partnerList class="partners__list">
      <li class="partners__item">
        <a href="http://bresttur.by/" class="partners__name" target="_blank">{{'MAIN.PARTNERS.PARTN1' | translate}}</a>
        <img ngSrc="assets/partners/ico-1.png" width="66" height="76" alt="Лого партнера" class="partners__image">
      </li>
      <li class="partners__item">
        <a href="https://centers.by/ott" class="partners__name" target="_blank">{{'MAIN.PARTNERS.PARTN2' | translate}}</a>
        <img ngSrc="assets/partners/ico-2.png" width="64" height="70" alt="Лого партнера" class="partners__image">
      </li>
      <li class="partners__item">
        <a href="https://goctt.grodno.by/" class="partners__name" target="_blank">{{'MAIN.PARTNERS.PARTN3' | translate}}</a>
        <img ngSrc="assets/partners/ico-3.png" width="76" height="83" alt="Лого партнера" class="partners__image">
      </li>
      <li class="partners__item">
        <a href="http://oct.by/" class="partners__name" target="_blank">{{'MAIN.PARTNERS.PARTN4' | translate}}</a>
        <img ngSrc="assets/partners/ico-4.png" width="64" height="68" alt="Лого партнера" class="partners__image">
      </li>
      <li class="partners__item">
        <a href="https://ndtp.by/" class="partners__name" target="_blank">{{'MAIN.PARTNERS.PARTN5' | translate}}</a>
        <img ngSrc="assets/partners/ico-5.png" width="132" height="132" alt="Лого партнера" class="partners__image">
      </li>
      <li class="partners__item">
        <a href="https://xn--b1afyeafhbl5a6e.xn--90ais/" class="partners__name" target="_blank">{{'MAIN.PARTNERS.PARTN6' | translate}}</a>
        <img ngSrc="assets/partners/ico-6.png" alt="Лого партнера" class="partners__image" height="120" width="89">
      </li>
      <li class="partners__item">
        <a href="http://octt.by/" class="partners__name" target="_blank">{{'MAIN.PARTNERS.PARTN7' | translate}}</a>
        <img ngSrc="assets/partners/ico-7.png" alt="Лого партнера" class="partners__image" height="130" width="139">
      </li>
      <li class="partners__item">
        <a href="https://roboturnir.by/" class="partners__name" target="_blank">{{'MAIN.PARTNERS.PARTN8' | translate}}</a>
        <img ngSrc="assets/partners/ico-8.jpg" alt="Лого партнера" class="partners__image" height="244" width="250">
      </li>
    </ul>
  </div>
</section>
