<section class="sphere">
  <h2 class="sphere__name">Компетенции</h2>
  <ul class="sphere__list">
    <li class="sphere__card">
      <a href="#" routerLink="/sphere-list" class="sphere__link">
        <img src="assets/sphere/example_one.png" width="345" height="345" alt="Фотография компетенции" class="sphere__image">
        <h3 class="sphere__slogan">Интеллектуальное суммо 15х15</h3>
        <p class="sphere__description">Робосумо – это вид спорта, в котором два робота пытаются вытолкнуть друг друга из круга. Роботы, используемые в этом соревновании, называются сумоботами. Инженерные задачи заключаются в том, чтобы робот нашел своего противника
          и вытолкнул его за пределы плоской арены.</p>
      </a>
    </li>
    <li class="sphere__card">
      <a href="#" routerLink="/sphere-list" class="sphere__link">
        <img src="assets/sphere/example-two.png" width="345" height="345" alt="Фотография компетенции" class="sphere__image">
        <h3 class="sphere__slogan">Интеллектуальное суммо 15х15</h3>
        <p class="sphere__description">Робосумо – это вид спорта, в котором два робота пытаются вытолкнуть друг друга из круга. Роботы, используемые в этом соревновании, называются сумоботами. Инженерные задачи заключаются в том, чтобы робот нашел своего противника
          и вытолкнул его за пределы плоской арены.</p>
      </a>
    </li>
    <li class="sphere__card">
      <a href="#" routerLink="/sphere-list" class="sphere__link">
        <img src="assets/sphere/example-three.png" width="345" height="345" alt="Фотография компетенции" class="sphere__image">
        <h3 class="sphere__slogan">Интеллектуальное суммо 15х15</h3>
        <p class="sphere__description">Робосумо – это вид спорта, в котором два робота пытаются вытолкнуть друг друга из круга. Роботы, используемые в этом соревновании, называются сумоботами. Инженерные задачи заключаются в том, чтобы робот нашел своего противника
          и вытолкнул его за пределы плоской арены.</p>
      </a>
    </li>
    <li class="sphere__card">
      <a href="#" routerLink="/sphere-list" class="sphere__link">
        <img src="assets/sphere/example_one.png" width="345" height="345" alt="Фотография компетенции" class="sphere__image">
        <h3 class="sphere__slogan">Интеллектуальное суммо 15х15</h3>
        <p class="sphere__description">Робосумо – это вид спорта, в котором два робота пытаются вытолкнуть друг друга из круга. Роботы, используемые в этом соревновании, называются сумоботами. Инженерные задачи заключаются в том, чтобы робот нашел своего противника
          и вытолкнул его за пределы плоской арены.</p>
      </a>
    </li>
  </ul>
</section>
