<section class="sphere">
  <h2 class="sphere__name">Компетенции</h2>
  <ul class="sphere__list">
    <li class="sphere__card sphere__card--main">
      <h3 class="sphere__champion">Открытый республиканский IT-чемпионат «РобИн-2024»</h3>
      <a href="#" routerLink="/sphere-list" class="sphere__button" aria-label="Подробнее">
        <img src="assets/shared/more-ico.svg" width="50" height="50" alt="Подробнее">
      </a>
      <p class="sphere__question">Компетенции. Какие они бывают и что представляют?</p>
    </li>
    <li class="sphere__card" *ngFor="let sphere of sphereList">
      <a href="#" routerLink="/sphere-list/{{sphere.name}}" class="sphere__link">
        <img src="assets/sphere/{{sphere.name}}.jpg" width="345" height="345" alt="Фотография компетенции" class="sphere__image">
        <h3 class="sphere__slogan">{{sphere.viewName}}</h3>
        <p class="sphere__description">{{sphere.description}}</p>
      </a>
    </li>
  </ul>
</section>
