@import '../../../stylesheets/global';

.container {
  width: 80%;
  margin: 0 auto;
}

.content {
  text-align: justify;
}

h3 {
  font-size: 22px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

li {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

a {
  color: black;
}

a:hover {
  color: #007aff;
}
