<app-header></app-header>
<div class="container">
  <div class="content">
    <h3>Положение о политике в отношении обработки cookie-файлов</h3>
    <ol>
      <li>
        <p>
          Куки (англ. cookies) являются текстовым файлом, сохраненным в браузере
          компьютера (мобильного устройства) пользователя официального
          интернет-сайта Открытого республиканского IT-чемпионата «РобИн-2024»
          (далее – сайт) при его посещении для отражения совершенных действий.
          Этот файл позволяет не вводить заново или выбирать те же параметры при
          повторном посещении сайта, например, выбор языковой версии.
        </p>
        <p>
          Целью обработки куки является обеспечение удобства пользователей сайта
          и повышение качества его функционирования.
        </p>
        <p>
          Мы не передаем куки третьим лицам и не используем их для идентификации
          субъектов персональных данных.
        </p>
      </li>
      <li>
        <p>На сайте обрабатываются следующие типы куки:</p>
        <ul>
          <li>
            функциональные – позволяют обеспечить индивидуальный опыт
            использования сайта и устанавливаются в ответ на действия субъекта
            персональных данных;
          </li>
          <li>
            статистические – позволяют хранить историю посещений страниц сайта в
            целях повышения качества его функционирования, чтобы определить
            наиболее и наименее популярные страницы.
          </li>
        </ul>
      </li>
      <li>
        <p>Обрабатываемые на сайте куки и сроки их хранения</p>
        <ul>
          <li>настройка куки (функциональные), хранятся не более года;</li>
          <li>
            выбор версии для слабовидящих (функциональные), часть из которых
            хранятся во время пользования сайтом, а остальные не более суток;
          </li>
          <li>
            выбор языковых предпочтений (функциональные), хранятся не более
            года;
          </li>
          <li>
            необходимые для функционирования веб-аналитической платформы «Google
            Analytics», «Яндекс.Метрика», (статистические), установлены на
            сервере учреждения образования «Национальный детский
            обоазовательно-оздоровительный центр «Зубренок» и не передаются
            третьим лицам, часть из которых хранятся во время пользования
            сайтом, а остальные не более года.
          </li>
        </ul>
      </li>
      <li>
        <p>
          Пользователи могут принять или отклонить все обрабатываемые на сайте
          куки.
        </p>
        <p>
          Пользователи могут принять или отклонить все обрабатываемые на сайте
          куки, кроме необходимых*.
        </p>
        <p>
          При этом корректная работа сайта возможна только в случае
          использования «необходимых», «функциональных» куки. В случае их
          отключения может потребоваться совершать повторный выбор предпочтений
          куки, языковой версии сайта, а также могут некорректно отображаться
          версии страниц для слабовидящих
        </p>
        <p>
          Отключение статистических куки не позволяет определять предпочтения
          пользователей сайта, в том числе наиболее и наименее популярные
          страницы и принимать меры по совершенствованию работы сайта исходя из
          предпочтений пользователей.
        </p>
      </li>
      <li>
        <p>
          Помимо настроек куки на сайте субъекты персональных данных могут
          принять или отклонить сбор всех или некоторых куки в настройках своего
          браузера.
        </p>
        <p>
          При этом некоторые браузеры позволяют посещать интернет-сайты в режиме
          «инкогнито», чтобы ограничить хранимый на компьютере объем информации
          и автоматически удалять сессионные куки. Кроме того, субъект
          персональных данных может удалить ранее сохраненные куки выбрав
          соответствующую опцию в истории браузера.
        </p>
        <p>
          Подробнее о параметрах управления куки можно ознакомиться, перейдя по
          внешним ссылкам, ведущим на соответствующие страницы сайтов основных
          браузеров:
        </p>
        <ul>
          <li>
            <a
              href="https://support.mozilla.org/ru/kb/udalenie-kukov-dlya-udaleniya-informacii-kotoruyu-"
              >Firefox</a
            >
          </li>
          <li>
            <a href="https://support.google.com/chrome/answer/95647?hl=ru"
              >Chrome</a
            >
          </li>
          <li>
            <a href="https://support.apple.com/ru-ru/guide/safari/sfri11471/mac"
              >Safari</a
            >
          </li>
          <li>
            <a
              href="https://help.opera.com/ru/latest/web-preferences/#%D0%A3%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D1%84%D0%B0%D0%B9%D0%BB%D0%B0%D0%BC%D0%B8-cookie"
              >Opera</a
            >
          </li>
          <li>
            <a
              href="https://support.microsoft.com/ru-ru/microsoft-edge/%20%D1%83%D0%B4%D0%B0%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D1%84%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2-cookie-%D0%B2-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09"
              >Microsoft Edge</a
            >
          </li>
          <li>
            <a
              href="https://support.microsoft.com/ru-ru/windows/%D1%83%D0%B4%D0%B0%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D1%84%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2-cookie-%D0%B8-%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B8%D0%BC%D0%B8-168dab11-0753-043d-7c16-ede5947fc64d"
              >Internet Explorer</a
            >
          </li>
        </ul>
      </li>
    </ol>
  </div>
</div>
<app-footer></app-footer>
