<app-header></app-header>
<xng-breadcrumb
  [separator]="iconTemplate"
  class="xng-breadcrumb-root xng-breadcrumb-separator xng-breadcrumb-item"
>
  <ng-container *xngBreadcrumbItem="let breadcrumb">
    <ng-container>{{ breadcrumb | translate }}</ng-container>
  </ng-container>
</xng-breadcrumb>
<ng-template #iconTemplate> > </ng-template>
<main style="position: relative">
  <h2 class="item__heading">
    {{ sphere ? sphere.viewName : 'Компетенция не найдена' }}
    <a
      [href]="'../../../assets/sphere/docx/' + sphere?.viewNameRU + '.docx'"
      class="item__link"
      aria-label="Скачать документ"
    >
      <span class="tooltiptext">{{
        'SPHERE-LIST.ITEM.DOWNLOAD' | translate
      }}</span>
    </a>
  </h2>
  <div #wrapper class="item"></div>
  <a
    [href]="'../../../assets/sphere/zip/' + sphere?.viewNameRU + '.zip'"
    target="_blank"
    class="item__task"
  >
    <img src="../../../assets/sphere/zip.png" alt="" class="item__picture" />
    <span class="tooltiptext2">{{ 'SPHERE-LIST.ITEM.ZIP' | translate }}</span>
    {{ 'SPHERE-LIST.ITEM.TASKS' | translate }}
  </a>
</main>
<app-share-block></app-share-block>
<app-footer></app-footer>
