@import '../../../stylesheets/global';
@import '../../../stylesheets/sphere-style';

.item__link {
  position: fixed;
}

.item__link .tooltiptext {
  width: 220px;
  left: 0;
  top: 0;
  background: #3989c9;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.3em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  pointer-events: none;
  opacity: 0;
}

.item__link:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  top: 150%;
  left: -150%;
}

.item__task {
  position: relative;
}

.item__task .tooltiptext2 {
  width: 220px;
  left: 0;
  top: 0;
  background: #3989c9;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 6px;
  padding: 0.3em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: 1s;
}

.item__task:hover .tooltiptext2 {
  visibility: visible;
  opacity: 1;
  top: 3em;
}
main {
  margin: auto;
  padding: 0 90px;
  box-sizing: border-box;
  max-width: $max-width;
  text-align: justify;
}

.item {
  &__link {
    position: relative;
    padding: 0 0 0 50px;

    font-size: 16px;

    &::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      top: -26px;
      left: 5px;

      background-size: contain;
      background-image: url('./../../../assets/shared/document.svg');
    }
  }

  &__task {
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    position: relative;
    font-size: 40px;
    padding: 5px;

    text-decoration: none;
    color: white;
    background-color: #007aff;
    background-image: url('/assets/shared/blue-background.png');
  }

  &__picture {
    position: relative;
    margin-left: 6px;
    top: 5px;
    width: 44px;
    height: 44px;

    object-fit: contain;
  }

  &__heading {
    text-transform: uppercase;
  }
}

ol {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

@media (max-width: 778px) {
  main {
    margin: auto;
    padding: 0 10px;
    box-sizing: border-box;
    max-width: $max-width;
  }

  .item {
    &__link {
      position: relative;
      padding: 0 0 0 50px;

      font-size: 16px;

      &::before {
        content: '';
        width: 50px;
        height: 50px;
        top: -8px;
        left: 5px;

        background-size: contain;
        background-image: url('./../../../assets/shared/document.svg');
      }
    }

    &__heading {
      text-transform: uppercase;
      font-size: 30px;
    }
  }
}
