<app-header></app-header>
<main style="position: relative">
  <h2 class="item__heading">
    {{sphere ? sphere.viewName : "Компетенция не найдена"}}
    <a [href]="'../../../assets/sphere/docx/' + sphere?.viewName + '.docx'" class="item__link" aria-label="Скачать документ"></a>
  </h2>
  <div #wrapper class="item"></div>
  <a [href]="'../../../assets/sphere/zip/' + sphere?.viewName + '.zip'" target="_blank" class="item__task">
    <img src="../../../assets/sphere/zip.png" alt="" class="item__picture">
    Задание
  </a>
</main>
<app-share-block></app-share-block>
<app-footer></app-footer>
