<div class="footer__wrapper">
  <footer class="footer">
    <ul class="footer__sections">
      <li class="footer__section footer__section--main">
        <h2 class="footer__name">Контакты</h2>
        <ul class="footer__developers">
          <li class="footer__developer">designed by bissektr1sa</li>
        </ul>
      </li>
      <li class="footer__section footer__section--contacts">
        <ul class="footer__contacts">
          <li class="footer__contact">
            <h3 class="footer__heading">Контактное лицо:</h3>
            <p class="footer__description">Тарасов Елисей Андреевич.</p>
          </li>
          <li class="footer__contact">
            <h3 class="footer__heading">Адрес оргкомитета: </h3>
            <p class="footer__description">222397, Минская область, Мядельский р-н, поселок Зубреневка, НДЦ «Зубренок», Чемпионат «РобИн-2024». </p>
          </li>
          <li class="footer__contact">
            <p class="footer__description">© 2024 Республиканский открытый IT-чемпионат «РобИн-2024». Все права защищены</p>
          </li>
          <li class="footer__contact">
            <h3 class="footer__heading">E-mail: </h3>
            <p class="footer__description">profil@zubronok.by</p>
          </li>
          <li class="footer__contact">
            <h3 class="footer__heading">Телефоны: </h3>
            <p class="footer__description">8 (01797) 22 784 (факс) </p>
            <p class="footer__description">+375298008175 (моб. Viber)</p>
          </li>
          <li class="footer__contact">
            <h3 class="footer__heading" hidden>Социальные сервисы</h3>
            <ul class="footer__services">
              <li class="footer__service" aria-label="Инстаграм"></li>
              <li class="footer__service" aria-label="Телеграм"></li>
              <li class="footer__service" aria-label="Тик-Ток"></li>
              <li class="footer__service" aria-label="Зубренок"></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="footer__section"></li>
    </ul>
  </footer>
</div>
