@import '../../../stylesheets/global';

.scroll-top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
  opacity:0;
  transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  position: fixed;
  bottom: 50px;
  right: 20px;
  background-color: #ededed;
  color: #0C83FE;
  text-align: center;
  font-size: 40px;
  font-weight:bold;
  text-decoration: none;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

  border: none;

  opacity: 1;

  &:hover, &:active {
    background-color: #0C83FE;
    color: #fff;
  }
}

.invisible {
  opacity: 0;

  &:hover, &:active {
    cursor: none;
    opacity: 0;
  }
}
